@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#stats {
 display:flex;
  flex-direction: row;
}

h2{
  font: 400 16px 'Open Sans';
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px #fff;
}

.square_btn{
  margin-bottom: 5px;
  width: 275px;
  height: 45px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #287bef 0%, #287bef 100%);
  background-image: linear-gradient(45deg, #287bef 0%, #287bef 100%);
  transition: .4s;
}

.square_btn:hover{
  background-image: -webkit-linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}
#inputbut{
  width: 150px;
  height: 35px;
}